$champion-picker-toggle-height: 20px;
$champion-picker-toggle-width: 40px;

.champion-picker {
  position: relative;
  padding-top: $champion-picker-toggle-height;
  height: 571px; // magic as fuck
  overflow: hidden;
}

.champion-picker__menu {
  @include flexbox;
  @include flex-direction(column);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #223240;
  border-radius: 3px 3px 0 0;
  transition: all .3s ease-in-out;
}

.champion-picker__back-panel {
  height: 100%;
}

.champion-picker--menu-hidden {
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  .champion-picker__menu {
    @include transform(translateY(calc(100% - #{$champion-picker-toggle-height})));
  }
}

.champion-picker__toggle {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  position: absolute;
  width: $champion-picker-toggle-width;
  height: $champion-picker-toggle-height;
  bottom: 100%;
  left: 50%;
  left: calc(50% - #{$champion-picker-toggle-width / 2});
  font-size: 10px;
  background-color: #1C2B38;
  border-radius: 3px 3px 0 0;
  color: #E3A54E;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.champion-picker__top {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px 3px 0 0;
}

.champion-picker__filter {
  width: 100%;
  height: 100%;
  padding: .2em .5em;
  font-size: 1.3em;
  color: inherit;
  background-color: #1C2B38;
  outline: 0;
  border: 0;
  border-radius: 3px 3px 0 0;

  &:focus {
    background-color: #18242f;
  }
}

.champion-picker__champions-container {
  @include flex(1);
  overflow-y: scroll;
}

.champion-picker__champions {
  @include flexbox;
  @include flex-wrap(wrap);

  padding: 1.5rem;
}

.champion-picker__champion {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  margin: .5rem;
  padding: .5rem;
  height: 100px;
  width: 90px;
  border-radius: 3px;

  &.champion-picker__champion--picked {
    @include filter(grayscale(100%));
    opacity: .5;
  }
}

.champion-picker__champion__image {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgba(243, 193, 101, .3);
  perspective: 1px; // fixes a Chrome bug rendering this element

  > img {
    position: absolute;
    height: 74px;
    width: 74px;
    left: -5px;
    top: -5px;
  }
}

.champion-picker__champion__name {
  font-size: 13px;
  color: darken($gray-lighter, 20%);
}

.champion-picker__champion:hover,
.champion-picker__champion:focus {
  text-decoration: none;

  &:not(.champion-picker__champion--picked) {
    cursor: pointer;
    background-color: $gray-light;

    .champion-picker__champion__name {
      color: $gray-lighter;
    }
  }

  &.champion-picker__champion--picked {
    cursor: default;
  }
}
