.sidebar-champ {
  @include flexbox;
  @include align-items(center);

  padding: 1rem;

  &.sidebar-champ--using-defaults {
    @include filter(grayscale(100%));
    opacity: .5;
  }

  &.sidebar-champ--invert {
    @include flex-direction(row-reverse);
    min-width: 285px;

    .sidebar-champ__text {
      text-align: right;
    }
  }
}

.sidebar-champ__image {
  position: relative;
  width: 86px;
  height: 86px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgba(243, 193, 101, .3);

  > img {
    position: absolute;
    height: 92px;
    width: 92px;
    left: -6px;
    top: -6px;
  }

  &:hover {
    .sidebar-champ__image-hover-effect {
      top: -3px; // account for border
      left: -3px;
      width: 86px;
      height: 86px;
    }
  }
}

.sidebar-champ__image-hover-effect {
  position: absolute;
  top: 43px;
  left: 43px;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .3);
  transition: width .4s ease-in, height .4s ease-in, left .4s ease-in, top .4s ease-in;

  &.sidebar-champ__image-hover-effect--mini {
    left: 15px;
    top: 15px;
  }
}

.sidebar-champ__text {
  margin: 0 1rem;
}

.sidebar-champ__name {
  font-weight: normal;
}

.sidebar-champ__role {
  font-weight: lighter;
  color: #728BA2;
}

.sidebar-champ__mini-images {
  @include flexbox;
  @include flex-wrap(wrap);

  width: 64px;
  margin-left: 5px;
}

.sidebar-champ__mini-image {
  position: relative;
  margin-right: 2px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(243, 193, 101, .3);

  &:first-child {
    margin-bottom: 2px;
  }

  > img {
    position: absolute;
    height: 34px;
    width: 34px;
    left: -2px;
    top: -2px;
  }

  &:hover {
    .sidebar-champ__image-hover-effect--mini {
      left: -1px;
      top: -1px;
      width: 30px;
      height: 30px;
    }
  }
}

.sidebar-champ__mini-image--selected,
.sidebar-champ__image--selected {
  border-color: #DAD7AE;
}

.sidebar-champ__remove {
  color: #1B2935;
  font-size: 23px;
  font-weight: bold;
  text-shadow: rgb(55, 72, 88) 1px 1px 0px;

  &:hover {
    text-decoration: none;
    color: $brand-warning;
  }
}

.sidebar-champ--removable:hover {
  cursor: pointer;

  .sidebar-champ__remove {
    color: $brand-warning;
  }
}
