.sidebar-champ {
  @include flexbox;
  @include align-items(center);

  padding: 1rem;

  &.sidebar-champ--using-defaults {
    @include filter(grayscale(100%));
    opacity: .5;
  }

  &.sidebar-champ--invert {
    @include flex-direction(row-reverse);

    .sidebar-champ__text {
      text-align: right;
    }
  }
}

.sidebar-champ__image {
  position: relative;
  width: 86px;
  height: 86px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgba(243, 193, 101, .3);

  > img {
    position: absolute;
    height: 92px;
    width: 92px;
    left: -6px;
    top: -6px;
  }
}

.sidebar-champ__text {
  margin: 0 1rem;
}

.sidebar-champ__name {
  font-weight: normal;
}

.sidebar-champ__role {
  font-weight: lighter;
  color: #728BA2;
}

.sidebar-champ__mini-images {
  @include flexbox;
  @include flex-wrap(wrap);

  width: 64px;

  margin-left: 5px;

  > div {
    margin-right: 2px;
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgba(243, 193, 101, .3);

    &:first-child {
      margin-bottom: 2px;
    }

    > img {
      position: absolute;
      height: 34px;
      width: 34px;
      left: -2px;
      top: -2px;
    }
  }
}
