.alert-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: .2em .5em;
  font-size: 16px;
  text-align: center;
  color: $gray-lighter;
  background-color: #E65252;
}