.background-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  position: fixed;
  top:      -2px;
  right:    -2px;
  bottom:   -2px;
  left:     -2px;

  @include filter(blur(3px));
}
