.champion-selector {
  @extend .dropdown;

  position: relative;
  width: 100%;
}

.champion-selector--topbar {
  .champion-selector__input {
    padding: 4px 46px 4px 8px;
    height: inherit;
  }
}

.champion-selector__input {
  padding-right: 54px;
}

.champion-selector__menu {
  @extend .dropdown-menu;

  display: block;
  padding: 0;
  width: 100%;
}
