.homepage-content {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  margin: 8rem auto 0;
  max-width: 550px;
  padding: 2rem;
  background-color: rgba(42, 62, 80, .6);
  text-align: center;
}

.homepage-content__subheader {
  margin: 1rem 0 2rem 0;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 8px;
}