.search {
  @include flexbox;

  width: 100%;
  padding: 1rem;
  background-color: $gray-light;
}

.search--topbar {
  margin-left: 2rem;
  padding: .5rem;
  width: 400px;

  .search__input-container {
    margin-right: .5rem;
  }

  .search__region-selector {
    top: 3px;
    height: 21px;
  }

  .search__button {
    padding: 3px 10px;
  }
}

.search__input-container {
  position: relative;
  width: 100%;
  margin-right: 1rem;
}

.search__region-selector {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 24px;
}
