.aboutpage-content {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  margin: 3em auto;
  width: 800px;
  padding: 2rem;
  /*background-color: rgba(46, 100, 80, 1);*/
  background-color: rgba(0, 0, 0, 0.2);
  /*background-color: #61552D;*/
  /*background-color: #61553D;*/
  text-align: center;

  p {
    font-size:1.2em;
    text-align: left;
  }

  .code {
    text-align: left;
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
  }
}

.aboutpage-content > * {
  margin: 1em;
  width: 100%;
}

.aboutpage-content__header {
  margin-top: 0;
}
