.homepage-content {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  margin: 50px auto 0;
  max-width: 550px;
  padding: 2rem;
  background-color: rgba(42, 62, 80, .6);
  text-align: center;
}

.homepage-content__header {
  margin-top: 0;
}
