@import "https://fonts.googleapis.com/css?family=Sansita+One";

.logo-header {
  font-family: 'Sansita One', sans-serif;
  margin: 0;
  font-size: 34px;
  text-shadow: .07em .05em 0 #DF691A;
}

.logo-header--topbar {
  display: inline;
  font-size: 26px;
}

.logo-header__prefix {
  font-weight: normal;
  font-size: .7em;
}

.logo-header__suffix {
  font-size: 1em;
}
