.logo-header {
  margin: 0;
  font-size: 34px;
}

.logo-header--topbar {
  display: inline;
  font-size: 26px;
}

.logo-header__prefix {
  font-weight: normal;
  font-size: .7em;
}

.logo-header__suffix {
  font-size: 1em;
}
