html {
    height: 100%;
}

body {
    height: 100%;
}

.page-with-footer {
  @include flexbox;
  @include flex-direction(column);

  min-height: 100%;
  /*width: 100%;*/
}

.page-with-footer__content {
  @include flex(1);
  z-index: 2;
}

.page-with-footer__footer {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  padding: 10px 15px;
  z-index: 1;

  background-color: rgb(24, 36, 47);

  a {
    font-size: 1em;
    color: white;

    &:not(:last-child) {
      margin-right: 2em;
    }
  }
}
