body {
  @media only screen and (min-width : 1500px) and (min-height : 900px) {
    -moz-transform: scale(1.25, 1.25);
    zoom: 1.25;
    zoom: 125%;
  }
}

.zoom {
  -moz-transform: scale(1.5, 1.5); /* Moz-browsers */
  zoom: 1.5; /* Other non-webkit browsers */
  zoom: 150%; /* Webkit browsers */
}
